body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    color: #007bff;
}

#weatherResult {
    font-size: 1.2rem;
}

#error {
    font-size: 1.2rem;
    font-weight: bold;
}
